/* cores */
.bg-azul-escuro,
body {
    background-color: #010d39;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    background-image: linear-gradient(to right, #92c9c6, #aaf368);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* cabeçalho */
header {
    width: 100%;
    background-color: black;
    z-index: 30;
}

header .logo {
    width: 10em;
    z-index: 5;
}

#pesquisar-botao {
    color: #fff;
    background: linear-gradient(135deg, #c22f98, #e8217e);
    border: none;
    padding: 0.3em 1em;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.botao-suspenso {
    color: #010d39;
    background-image: linear-gradient(to right, #92c9c6, #aaf368);
    border: none;
    padding: 0.5em 1em;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.dropdown-menu .dropdown-item {
    transition: background 0.3s ease;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
    background-image: linear-gradient(to right, #92c9c6, #aaf368);
    color: black;
}


.bi {
    color: #92c9c6;
    font-size: 1.8em;
}

/* carrossel de imagens */
.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* card carousel */
.carousel-container,
.container, #containerCardPadrao {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-card {
    width: 100%;
    height: auto;

    display: flex;
    gap: 0.5rem;

    overflow-x: auto;

    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card {
    /*  flex: 0 0 15.063em; */
    flex: 0 0 clamp(11.56em, 14vw, 15.063em);
    /* width: 11em; */
    height: 45vh;
    scroll-snap-align: start;
    background-color: transparent;
    transition: transform .25s ease;

}

.card img,
.col img {
    max-width: 100%;
    height: 45dvh;
    object-fit: cover;
}

/* demais card com col */
.col {
    height: 45vh;
}

/*pagina resultado da pesquisa */
.resultado-pesquisa {
    background-color: black;
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    position: relative;
}

.resultado-pesquisa_voltar {
    position: absolute;
    top: 0.5em;
    left: 1.5em;
    color: white;
    text-decoration: none;
}

.aviso {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* pagina descrição */
.filme-img {
    width: 13em;
    height: 45dvh;
}

.filme-descricao {
    text-align: justify;
}

.filme-video,
video {
    width: 95%;
    object-fit: cover;
    margin: 2em 0 3em 0;
}

/* rodape */
footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;

}

/*desabiliar hover*/
@media (hover: hover) and (pointer: fine) {

    /* botao cabeçalho */
    #pesquisar-botao:hover,
    #pesquisar-botao:active {
        background: linear-gradient(135deg, #e8217e, #c22f98);
        transform: translateY(0) scale(1.03);
    }

    /* card carrossel  */
    .card:hover,
    .col:hover {
        transform: scale(1.06);
        cursor: pointer;
    }

    .card:hover img,
    .col:hover img {
        filter: brightness(1.05);
    }
}

@media (min-width: 768px) {
    .form-control {
        width: 40dvw;
    }
}

@media (min-width: 1024px) {

    /* carrossel figure*/
    .carousel-item,
    .carousel-inner,
    .carousel,
    .carousel-control-prev,
    .carousel-control-next,
    .active {
        max-height: 90dvh;
    }

    /* pagina descrição */
    .filme-img {
        width: 15.063em;
    }

    .filme-video,
    video {
        max-width: 50vw;
        max-height: 50dvh;
        margin: 3em 0 3em 0;
    }

    /* pagina pesquisa */
    .resultado-pesquisa_voltar {
        position: absolute;
        top: 0.5em;
        left: 2em;
        color: white;
        text-decoration: none;
    }
}